[submodule "kompute"]
	path = ggml/src/ggml-kompute/kompute
	url = https://github.com/nomic-ai/kompute.git
[submodule "rocwmma"]
	path = ggml/src/ggml-hip/rocwmma
	url = https://github.com/rocm/rocwmma
